*:focus{
  outline: none;
}


body {
  padding: 0;
  margin: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: #40739e;
}

.container {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: #36af79;
  position: relative;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.btn {
  margin: 10px;
  width: 200px;
  height: 80px;
  background-color: teal;
  color: white;
  border-radius: 10px;
  border: 1px solid black;
  font-size: 1.7rem;
}



.footer{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  background-color: black;
  color: rgb(55, 226, 63);
  text-align: center;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 1.7rem;
  margin: 0;
}