body {
	background-color: #050507
}
.display-4 {
  font-size: 3.5rem;
  font-weight: 300;
  line-height: 1.2;
  text-align: center !important;
 }

.text-primary {
  color: #ffffff !important;
}

.mt-4 {
  margin-top: 1.5rem !important;
}

.form-group {
  margin-bottom: 1rem;
}

.form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
}

 .table {
    border-collapse: collapse !important;
 }

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #30ff30;
}

.hide{
  display: none;
}