* {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
  display: flex;
  background-color: #fff;
  justify-content: center;
  align-items: center;
}

h3 {
  margin: 0;
  font-size: 1.8rem;
}

input {
  padding: 8px;
  border: black solid 1px;
  border-radius: 10px;
  margin: 5px;
  font-size: 1.2rem;
  text-align: center;
}

input:focus {
  outline: none;
}

.container {
  margin: 0;
  padding: 10px;
  border: 1px solid #999;
  box-shadow: 0px 0px 10px 2px  #999;
  border-radius: 10px;
  width: 95vw;
  height: 90vh;
  background-color: rgb(247, 240, 240);
  justify-content: center;
}

.search-box {
  background-color: rgb(59, 102, 243);
  text-align: center;
  padding-bottom: 20px;
  border-bottom: #999 solid 2px;
  border-radius: 10px;
  color: white;
}

.answer {
  font-size: 0.8rem;
  margin-top: 10px;
  background-color: #fff;
  color: rgb(59, 102, 243);
  padding: 10px;
  border-bottom: #999 solid 2px;
  border-radius: 10px;
  font-size: 1.5rem;
  text-align: center;
}

.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px;
  width: 95%;
  height: 35%;
  opacity: 0.2;
}